.nav-links-container{
    color: #000;
    justify-content: center;
}
.navBackground {
    background-image: url('/src/assets/HomeImg.jpg');
    background-size: cover;
    background-position: center;
  }